*, *:before, *:after {
	box-sizing: border-box;
}

.container {
	max-width: 1100px;
	margin: 0 auto;
}

h1 {
	font-family: 'Caveat', cursive;
	color: #5b6959;
	text-align: center;
	font-size: 3em;
}

h2 {
	font-family: 'Caveat', cursive;
	color: #5b6959;
	font-size: 2em;
}

ol {
	text-decoration: none;
	font-family: 'Caveat', cursive;
	color: #5b6959;
	font-size: 20px;

}

p {
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	line-height: 2;
}

footer {
	text-align: center;
	font-family: 'Caveat', cursive;
	color: #5b6959;
}

body div {
	background-color: #fffff5;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}